@import url("https://fonts.googleapis.com/css?family=MedievalSharp");
html {
  background-image: url(../img/schloss_schnbrunn_wien_vienna-wallpaper-1920x1080_sepia.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }
  html body {
    margin: 0;
    font-family: 'MedievalSharp', cursive; }
    html body #gramofon {
      position: absolute;
      bottom: 15vw;
      right: 1vw;
      width: 5vw;
      z-index: 14; }
    html body .ufo_wrapper {
      position: absolute;
      top: 6%;
      right: 10.8%;
      width: 13vw;
      height: auto;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column; }
    html body #ufo {
      position: relative;
      width: 13vw;
      height: auto;
      animation: moving 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite; }
@keyframes moving {
  10%, 90% {
    transform: translate(-1px, -1px); }
  20%, 80% {
    transform: translate(2px, 2px); }
  30%, 50%, 70% {
    transform: translate(-4px, -4px); }
  40%, 60% {
    transform: translate(4px, 4px); } }
    html body .nav {
      position: relative;
      right: 1vw;
      top: 14vh;
      width: 100%;
      height: auto;
      z-index: 50;
      display: none;
      flex-direction: column;
      justify-content: space-around; }
    html body .nav a {
      margin: 0;
      display: none;
      color: white;
      font-weight: bolder;
      padding: 1vw 1.1vw;
      text-decoration: none;
      animation: shit 1s ease-in;
      transition: 1s;
      align-self: center;
      text-align: center; }
@keyframes shit {
  0% {
    transform: translateY(1vh);
    font-size: 0.01vw;
    border-radius: 0.01%;
    opacity: 0.1; }
  50% {
    transform: translateY(15vh);
    opacity: 1; }
  100% {
    transform: translateY(20vh);
    font-size: 2vw;
    border-radius: 50%;
    opacity: 0.5; } }
    html body .nav a:hover {
      background-color: grey;
      color: black;
      border-radius: 5%;
      opacity: 1; }
    html body .nav_zero {
      width: 5vw;
      font-size: 1vmax; }
    html body .nav_top {
      width: 9vw;
      font-size: 2vmax; }
    html body .nav_middle {
      width: 11vw;
      font-size: 2.5vmax; }
    html body .nav_bottom {
      width: 16vw;
      font-size: 3vmax; }
    html body .img_people_container {
      z-index: 1;
      display: flex;
      position: absolute;
      width: 100%;
      height: 80%;
      bottom: 1vw;
      min-width: 1100px; }
    html body #full-page-video {
      display: none;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 999; }
    html body .close-full-page-video {
      cursor: pointer;
      color: white;
      font-size: 60px;
      position: absolute;
      top: 20px;
      left: 20px;
      font-weight: 300; }
    html body #img_nico {
      position: absolute;
      left: 0;
      height: 33vw;
      bottom: 5vw;
      width: auto;
      min-height: 500px; }
    html body #img_marco {
      position: absolute;
      left: 12vw;
      height: 43vw;
      bottom: 0;
      width: auto;
      min-height: 500px; }
    html body #img_tom {
      position: absolute;
      left: 27vw;
      height: 45vw;
      bottom: 0;
      width: auto;
      min-height: 500px; }
    html body #img_delia {
      position: absolute;
      left: 40vw;
      height: 40vw;
      bottom: 3vw;
      width: auto;
      min-height: 500px; }
    html body #img_mustafa {
      position: absolute;
      left: 52vw;
      height: 41vw;
      bottom: 0;
      width: auto;
      min-height: 500px; }
    html body #shadow {
      z-index: -1;
      position: absolute;
      width: 80%;
      height: 40%; }

/*# sourceMappingURL=index.css.map */
